
# Projets compilés
server/build*
client/build*
tests/server/build*
tests/client/build*

# Fichiers temporaires rapport
*.log
*.aux
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.out

# Libraries
client/SDL2/

# Private files
client/data/
server/data/

# Object files
*.o
